* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    padding-top: 10px;
}

input, button {
    font-size: 24px;
}

label {
    margin-right: 30px;
}

.search {
    padding:5px;
    width:80px;
}

.container {
    width:800px;
    margin:40px auto;
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    gap:40px;
}

.weather--wrapper {
    min-width:45%;
    gap:10px;
    display: flex;
    flex-direction: column;
}

.inputWeather, .outputWeather, .forecast, .loader {
    border-radius:10px;
    padding:5px 10px;
    width:100%;
    gap:10px;
    display: flex;
    flex-direction: column;
}

.temp {
    font-size: 48px;
    text-align: center;
}

img {
    align-self: center;
    margin-bottom: -8px;
    margin-right: 0px;
}


.inputWeather {
    background-color: rgba(255, 165, 0, 0.25);
    border:1px solid orange;
}

.outputWeather {
    border:1px solid darkolivegreen;
    background-color: orange;
    padding-top: 15px;
    gap:0;
}

img[id^='icon'] {
    opacity: 0;
}
span[id^='day'] {
    font-size:16px;
    text-align: center;
    line-height: 16px;
}

#city {
    font-weight: 900;
    margin-bottom: 10px;
}

.changeUnits {
    font-size: 36px;
    font-weight: 100;
    margin-left: 20px;
    padding: 0 5px;
    vertical-align: middle;
    background-color: peachpuff;
    opacity: 0.7;
    border-radius: 10px;
    cursor: pointer;
}

.fav_city {
    display: inline;
    margin:0;
}

.forecast{
    background-color: yellowgreen;
    border:1px solid black;
}

.forecast ul {
    list-style: none;
    display: flex;
}

.forecast ul li {
    min-height: 120px;
}

.loader {
    align-self: center;
    justify-self: center;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #222222; /* Dark Grey */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: calc(25% - 30px) calc(25% - 30px);
    animation: spin 1.5s linear infinite;
    display:none;
}

@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@media only screen and (max-width: 768px) {
    .container {
        width: 400px;
        flex-direction: column;
        margin:0 auto;
        padding: 20px;
        align-items: center;
    }

    body {
        font-size: 16px;
    }

    .weather--wrapper {
        min-width: 100%;
    }
}